.navbar {
  overflow: hidden;
  background-color:#FDFDFD;
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  box-shadow:0 10px 20px #E5E5E5;
  z-index:3;
}
.first a {
  font-size:20px;
  float: right;
  display: block;
  color: #000;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
}
.first a:hover {
  background-color: #E5E5E5;
  transition: 0.5s;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {

  position:relative;
  text-align: center;
  padding:8px 0 8px 0;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.out{
position:absolute;
}
.content{
width:55%;
color:black;
margin-top:5%;
margin-right:auto;
margin-left:auto;
word-wrap: break-word;
}
#none{
	text-decoration:none;
	color:black;
	font-size:1.5vw;
}
.btth
{
 text-align:center;
margin-top:5%;
}
.ans
{
margin-left:5%;
}